.register {
  position: fixed;
  display: block;
  z-index: 1;
  left: 0;
  top: 0;
  height: 940px;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

.register__conteiner {
  width: 450px;
  height: 670px;
  background: #f2e8ff;
  margin: 2% 0 0 38%;
  border: 1px solid #a0a0a0;
  padding-bottom: 2%;
  margin-bottom: 5%;
  padding-top: 2%;
}
.register__conteiner-image {
  width: 35px;
  height: 35px;
  margin: 2% 0 0 90%;
}
.register__image-close {
  width: 100%;
  height: 100%;
}
.register__conteiner-image:hover {
  cursor: pointer;
  transform: rotate(60deg);
}
.register__conteiner-title {
  font-size: 160%;
  font-weight: 500;
  text-align: center;
  margin: 0 0 8% 0;
}
.register__form-title {
  margin: 3% 0 2% 16%;
  font-size: 16px;
}

.register__form-text {
  width: 75%;
  height: 40px;
  font-size: 22px;
  border-radius: 20px;
  border: 1px solid #000000;
  margin: 0 0 2% 12%;
  padding-left: 3%;
  padding-top: 1%;
  resize: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 0 5px 5px #b4b4b4;
}

.register__form-regist {
  width: 30%;
  height: 40px;
  font-size: 16px;
  margin: 5% 0 0 32%;
  background: #e6ffdd;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 0 5px 5px #b4b4b4;
}
.register__form-regist:hover {
  cursor: pointer;
  background: #83ff89;
}
